/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# Ignore OS artifacts:
**/.DS_Store

# rspec failure tracking
.rspec_status

# Ignore histroy files
**/.*_hist*

# Ignore dotenv files:
**/*.env
!**/*example*.env

# Ignore local google cloud credentials
**/google-cloud-credentials.json
